<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GameCenterClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
  </servlet>
  
    <servlet>
    <servlet-name>CustomersController</servlet-name>
    <servlet-class>controllers.CustomersController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdminProductsController</servlet-name>
    <servlet-class>controllers.AdminProductsController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AdminCustomersController</servlet-name>
    <servlet-class>controllers.AdminCustomersController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddressesController</servlet-name>
    <servlet-class>controllers.AddressesController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>OrdersController</servlet-name>
    <servlet-class>controllers.OrdersController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>OrderLinesController</servlet-name>
    <servlet-class>controllers.OrderLinesController</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AuthenticationController</servlet-name>
    <servlet-class>controllers.AuthenticationController</servlet-class>
  </servlet>
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/server-test/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AdminProductsController</servlet-name>
    <url-pattern>/adminproducts</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AdminCustomersController</servlet-name>
    <url-pattern>/admincustomers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AddressesController</servlet-name>
    <url-pattern>/addresses</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>OrdersController</servlet-name>
    <url-pattern>/orders</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>OrderLinesController</servlet-name>
    <url-pattern>/oderlines</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>CustomersController</servlet-name>
    <url-pattern>/customers</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AuthenticationController</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  
</web-app>